name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  Linux-build:
    name: build on ${{matrix.os}} with ${{matrix.compiler.compiler}}
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        compiler:
          - { compiler: GNU15, CC: gcc-15, CXX: g++-15, packages: gcc-15 g++-15 }
          - { compiler: LLVM21, CC: clang-21, CXX: clang++-21, packages: clang-21 libomp-21-dev llvm-21-dev libc++-21-dev libc++abi1-21 lld-21 clang-tools-21 mlir-21-tools libmlir-21-dev }
    env:
      BUILD_TYPE: Release
      CC: ${{matrix.compiler.CC}}
      CXX: ${{matrix.compiler.CXX}}

    steps:
      - uses: actions/checkout@v2
      - name: Install packages for ${{matrix.compiler.compiler}}
        run: sudo apt-get -y install ${{matrix.compiler.packages}}
      - name: Configure project
        run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}
      - name: Build
        run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}
      - name: Install
        run: sudo cmake --install ${{github.workspace}}/build

  Win64-build:
    name: Win64 build
    runs-on: windows-latest
    strategy:
      fail-fast: true
      matrix:
        compiler:
          - { compiler: GNU, CC: gcc }
    defaults:
      run:
        shell: msys2 {0}
    env:
      BUILD_TYPE: Release
      CC: ${{matrix.compiler.CC}}
      SRC_DIR: ${{github.workspace}}
      BUILD_DIR: ${{github.workspace}}/build
      INSTALL_PREFIX: /mingw64
    steps:
      - uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          install: >-
            base-devel
            git
            mingw-w64-x86_64-toolchain
            mingw-w64-x86_64-cmake
          update: true
      - uses: actions/checkout@v2
      - name: Initialize
        run: ./.ci/ci-script.sh init
      - name: Configure
        run: ./.ci/ci-script.sh configure
      - name: Build
        run: ./.ci/ci-script.sh build
      - name: Install
        run: ./.ci/ci-script.sh install
